.landing__error{
  color: pink;
}
button {
  border: none;
  font: inherit;
}
span{color: $gray; margin-top: 16px;}
.landing__form{
  margin: 32px 16px;
  padding: 16px;
  background: $gray;
  border-radius: 16px;
}
.landing__input{
  width: 100%;
  height: 35px;
  padding-left: 16px;
  border-radius: 8px; border: 2px solid $gray;
  margin-bottom: 16px;
}
.landing__white-text{
  color: white;
  font-weight: bold;
  margin-top: 8px;
}
